<script type="text/javascript">
function initMap(){
  var mapCanvas = document.getElementById("map");
  var userID = document.getElementById('userID').value;


  var location = new google.maps.LatLng(37.99616268, -5.09765625);
  var contentString;

  var mapOptions = {
    center: location,
    zoom: 2,
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    mapTypeControl: true,
    mapTypeControlOptions: {
      style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
      position: google.maps.ControlPosition.TOP_LEFT
  }
    };

  //fire up map
  var map = new google.maps.Map(mapCanvas, mapOptions);

  // Marker
  var markerImage = "../images/dotIcon.png";
  var marker;
  var infowindow;

// _______________Set markers from locations in database______________________
<% user.destinations.forEach(function(destination){ %>
  <%var positionStr = destination.position;%>
  <%positionStr = positionStr.replace(/[()]/g, '');%>
  <%var coordArr = positionStr.split(",");%>
  <%var lat = parseFloat(coordArr[0]);%>
  <%var lon = parseFloat(coordArr[1]);%>
  var latLng = new google.maps.LatLng(<%=lat%>,<%=lon%>);
  marker = new google.maps.Marker({
      map: map,
      icon: markerImage,
      position: latLng,
    });
    //TODO Add code to visitedForm. Need to stop showing delete button for visiting users
    // if(user._id.toString() === currentUser._id.toString()){
    //
    // }

  var visitedForm =
    '<div id="formContainer" class="info-window">' +
      '<h3> <%= destination.name %></h3>' +
      '<div class="form-group">'+
          '<strong>Location:</strong> <input id="googleRes" type="text" name="destination[name]" value="<%= destination.name %>"readonly></input>' +
          '<strong>Position:</strong> <input id="googleRes" type="text" name="destination[position]" value="<%= destination.position %>" readonly></input>' +
      '</div>' +
      //TODO Add code to visitedForm. Need to stop showing delete button for visiting users
      <%if(user._id.toString() === currentUser._id.toString()){%>
        '<form action="/<%= user._id %>/delete/<%= destination._id %>?_method=DELETE" method="POST">'+
            '<div class="form-group">'+
                '<button class="btn btn-xl btn-danger">Delete</button>' +
            '</div>' +
          '</form>' +
      <%}%>
    '</div>';

  infowindow = new google.maps.InfoWindow({
      maxWidth: 400,
  });
  google.maps.event.addListener(marker,'click',(function(marker,visitedForm,infowindow){
        return function() {
           infowindow.close();
           infowindow.setContent(visitedForm);
           infowindow.open(map,marker);
        };
    })(marker,visitedForm,infowindow));

  <% }) %>


//========================USER'S FRIENDS BUTTON=========================================================
//===================================================================================================
var friendList = document.getElementById('friendList');
  <%user.friends.forEach(function(friend){%>
      // array that contains all destination markers for each friend
      var arr<%=friend._id%> = [];
      //TODO INSTEAD OF friendbtn make it friendThumbnail so we can get btn and link to profile
      var profileLink = '<div class="btn-group btn-group-justified" role="group" aria-label="">' +
        '<div class="btn-group" role="group"><form action="/<%=friend._id%>">'+
          '<button id="profileLink<%=friend._id%>" class="btn btn-primary homePageFriends" type="submit"><%= friend.firstName + " " + friend.lastName%></button>'+
        '</form></div>';
      var friendBtn = '<div class="btn-group" role="group">'+
          '<button id="friendID<%=friend._id%>" class="btn btn-default btnmap" type="submit">'+
            '<span class="glyphicon glyphicon-globe" aria-hidden="true"></span></button>'+
        '</div>'+
      '</div>';
      // var friendBtn = '<button id="friendID<%=friend._id%>" class="btn btn-default toggleFriend" type="submit"><%= friend.username %></button>';
      $("#friendList").append(profileLink+friendBtn);
      document.getElementById('friendID<%=friend._id%>').addEventListener("click", function(){
          $('#friendID<%=friend._id%>').toggleClass('active');
          //Check if markers are on page or not
          if($('#friendID<%=friend._id%>').hasClass('markerStatus')){
            //Remove from map
            //Set markers in array equal to null
            for (var i = 0; i < arr<%=friend._id%>.length; i++ ) {
              arr<%=friend._id%>[i].setMap(null);
            }
            $('#friendID<%=friend._id%>').removeClass('markerStatus');
          } else{
            //Add markers to map
            <%friend.destinations.forEach(function(destination){%>
              <%if(friend.destinations){%>
                <%var positionStr = destination.position;%>
                <%positionStr = positionStr.replace(/[()]/g, '');%>
                <%var coordArr = positionStr.split(",");%>
                //Set variables equal to coordinates in frontend then add all of the
                //maps stuff in ejs
                var lat = <%=parseFloat(coordArr[0]);%>;
                var lon = <%=parseFloat(coordArr[1]);%>;
                var latLng = new google.maps.LatLng(lat, lon);
                // Marker
                var markerImage = "../images/bluedot.png";
                marker = new google.maps.Marker({
                    position: latLng,
                    map: map,
                    icon: markerImage,
                  });
                arr<%=friend._id%>.push(marker);
                console.log("arr<%=friend._id%>");
            <%}});%>
            $('#friendID<%=friend._id%>').addClass('markerStatus');
          }
        });
  <% });%>


}
initMap();
</script>
