<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <a id="addBtn" class="btn btn-success " href="/<%= user._id %>/new">Add New Location</a>
        </div>
        <div class="col-md-12">
            <div class="thumbnail">
              <div id="map"></div>
            </div>

            <div class="row text-center" style="display:flex; flex-wrap: wrap;">
               <% user.destinations.forEach(function(destination){ %>
                   <div class="col-md-3 col-sm-6">
                       <div class="thumbnail">
                          <%= destination.photos %>
                          <div class="caption">
                              <h4><%= destination.name %></h4>
                          </div>
                          <p>
                            <%= console.log(destination._id); %>
                            <form id="delete-form" action="<%= user._id %>/<%= destination._id %>?_method=DELETE" method="POST">
                                <button class="btn btn-xs btn-danger">Delete</button>
                            </form>
                          </p>
                       </div>
                   </div>
               <% }); %>
           </div>
    </div>
</div>
<input id="userID" value="<%=user._id%>" style="display: none" />

<% include ../partials/homePageMap %>
<% include ../partials/footer %>
