<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="container">
          <div class="row">
              <div class="col-md-3">

                  <p class="lead"><%=user.username%></p>
                  <% if(currentUser !== undefined){ %>
                    <% if(user._id.toString() !== currentUser._id.toString()){%>
                      <!--  If this is another friends page AND this is not your friend The render: -->
                      <form action="/<%=user._id%>/addfriend" method="POST">
                        <div class="form-group">
                          <input class="btn  btn-primary btn-block form-control" type="submit" value="Add Friend">
                        </div>
                      </form>
                      <!-- ============================================================================ -->
                    <%} else { %>
                      <a class="btn btn-success btn-block form-control" href="/<%= user._id %>/new">Add New Location</a>
                  <% }} %>

                  <div class="list-group">
                          <div class="caption">
                            <h3> Friends' Maps</h3>

                            <ul id="friendList" class="list-group friendList"></ul>
                      </div>
                    </div>

              </div>
        <div class="col-md-9">
            <div class="thumbnail">
              <div id="map"></div>
            </div>

            <div class="row text-center" style="display:flex; flex-wrap: wrap;">
               <% user.destinations.forEach(function(destination){ %>
                   <div class="col-md-3 col-sm-6">
                       <div class="thumbnail">
                          <%= destination.photos %>
                          <div class="caption">
                              <h4><%= destination.name %></h4>
                          </div>
                          <p>
                            <form id="delete-form" action="<%= user._id %>/delete/<%= destination._id %>?_method=DELETE" method="POST">
                                <button class="btn btn-xs btn-danger">Delete</button>
                            </form>
                          </p>
                       </div>
                   </div>
               <% }); %>
           </div>
    </div>
</div>
<input id="userID" value="<%=user._id%>" style="display: none" />

<% include ../partials/homePageMap %>
<% include ../partials/friendsLocation.ejs %>
<% include ../partials/footer %>
